.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
}

.container img {
  justify-content: center;
  margin-bottom: 5px;
}

/* Mobile */
@media (max-width: 700px) {
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    text-align: center;
  }

  .container h3 {
    margin: 0 20px;
  }
}
