.links {
  display: flex;
  margin-top: 15px;
}

.links > a {
  margin: 10px;
  border-bottom: solid 2px #dde5b6;
  font-size: 20px;
}

.links > a:hover {
  border-bottom: solid 2px #eef2db;
  color: white;
}
