.select {
  height: 40px;
  border: none;
  text-align: center;
  border-radius: 5px;
  width: 200px;
  margin: 0 10px;
}

.date {
  height: 40px;
  border: none;
  text-align: center;
  border-radius: 5px;
  width: 200px;
  margin: 0 10px;
}

.show {
  background-color: #dde5b6;
  border: none;
  border-radius: 5px;
  margin: 5px;
  height: 40px;
  width: 100px;
  color: #353535;
}

.show:hover {
  background-color: #eef2db;
  cursor: pointer;
  color: #30283a;
}
