.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem 1.2rem;
  background-color: #dde5b6;
  border-radius: 5px;
  margin: 25px;
  height: 350px;
  width: 70vw;
  color: #30283a;
  overflow-x: scroll;
}

.card br {
  margin-bottom: 15px;
}

.card p a {
  text-decoration: underline;
}
