.chart {
  padding: 10px 200px;
  width: 100vw;
  display: flex;
  justify-content: center;
}

/* Mobile */
@media (max-width: 700px) {
  .chart {
    padding: 10px;
  }

  .chart > canvas {
    height: 250px;
  }
}
